@model ToursEcologicos.Domain.Entities.Guia

@{
    ViewData["Title"] = "Detalles del guía";
}

<h1>Detalles del guía</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Especialidad</dt>
        <dd class="col-sm-9">@Model.Especialidad</dd>

        <dt class="col-sm-3">Años de experiencia</dt>
        <dd class="col-sm-9">@Model.AniosExperiencia</dd>

        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">@Model.Nombre</dd>

        <dt class="col-sm-3">Cédula</dt>
        <dd class="col-sm-9">@Model.Cedula</dd>

        <dt class="col-sm-3">Teléfono</dt>
        <dd class="col-sm-9">@Model.Telefono</dd>

        <dt class="col-sm-3">Correo</dt>
        <dd class="col-sm-9">@Model.Correo</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>